bgp {{ device.cf['ASN'].asn }}
    {% for bgp_session in netbox_bgp.BGPSession.objects.all() %}
    peer {{ bgp_session.remote_address }} as-number {{ bgp_session.remote_as }}
    peer {{ bgp_session.remote_address }} enable
    peer {{ bgp_session.remote_address }} advertise-community
    peer {{ bgp_session.remote_address }} advertise-ext-community
        {% if bgp_session.cf['Keep All Routes'] %}
    peer {{ bgp_session.remote_address }} keep-all-routes
        {% endif %}
    {% endfor %}
    ipv4-family-unicast
        #
    #
{% for bgp_session in netbox_bgp.BGPSession.objects.all() %}
    {% if bgp_session.device == device %}
        {% for policy in bgp_session.import_policies.all() +%}
            {% include "huawei/bgp/route-policies.html" %}
        {% endfor %}
        {% for policy in bgp_session.export_policies.all() +%}
            {% include "huawei/bgp/route-policies.html" %}
        {% endfor %}
    {% endif %}
{% endfor %}