{# Configure Route Policies -#}
{% for bgp_session in netbox_bgp.BGPSession.objects.all() %}
    {% if bgp_session.device == device %}
        {% for policy in bgp_session.import_policies.all() +%}
            {% include "huawei/route-policies.html" %}
        {% endfor %}
        {% for policy in bgp_session.export_policies.all() +%}
            {% include "huawei/route-policies.html" %}
        {% endfor %}
    {% endif %}
{% endfor %}

bgp {{ device.cf['ASN'].asn -}}
    {% include "huawei/bgp/group.html" %}
    {% include "huawei/bgp/peer.html" %}
    #