{% set bgp_groups = [] %}
{% for bgp_session in netbox_bgp.BGPSession.objects.all() +%}
    {% if bgp_session.device == device %}
        {% set bgp_groups = bgp_groups.append(bgp_session.peer_group) %}
    {% endif %}
{% endfor %}

{% if bgp_groups is not none %}
    {% for bgp_group in bgp_groups %}
        {% if bgp_group.cf['bgp_session_type'] == "External (eBGP)" %}
    group {{ bgp_group.name }} external
        {% else %}
    group {{ bgp_group.name }} internal
        {% endif %} 

        {% if bgp_group.description %}
    peer {{ bgp_group.name }} description {{ bgp_group.description }}
        {% endif %}
        
        {% if bgp_group.cf['ASN'] %}
    peer {{ bgp_group.name }} as-number {{ bgp_group.cf['ASN'].asn }}
        {% endif %}
    {% endfor %}
{% endif %}