{% for bgp_session in netbox_bgp.BGPSession.objects.all() %}
  {% if bgp_session.device == device %}
    {% for import_police in bgp_session.import_policies.all() %}
      {% for rule in import_police.rules.all() %}
        {# Configure all Prefix Lists used by the route-policy -#}
        {% set rule_prefixes = [] %}
        {% for prefix_list in rule.match_ip_address.all() -%}
          {% set rule_prefixes = rule_prefixes.append(prefix_list) -%}
          {% for prefix_list_rule in prefix_list.prefrules.all() %}
            ip ip-prefix {{ prefix_list }} index {{ prefix_list_rule.index }} {{ prefix_list_rule.action }} {{ prefix_list_rule.prefix }}
          {% endfor -%}
        {% endfor %}

        {# Configure the Route-policy object -#}
        route-policy {{ import_police }} {{ rule.action }} node {{ rule.index }}
        {% if rule.match_ip_address.all() != [] %}
          {% for rule_prefix in rule_prefixes %}
            if-match ip-prefix {{ rule_prefix }}
            #
          {% endfor %}
        {% endif %}
      {% endfor %}
    {% endfor %}

    {% for export_police in bgp_session.export_policies.all() %}
      {% for rule in export_police.rules.all() %}
        {% for prefix_list in rule.match_ip_address.all() %}
          {# Configure all Prefix Lists used by the route-policy -#}
          {% set rule_prefixes = [] %}
          {% for prefix_list in rule.match_ip_address.all() -%}
            {% set rule_prefixes = rule_prefixes.append(prefix_list) -%}
            {% for prefix_list_rule in prefix_list.prefrules.all() %}
              ip ip-prefix {{ prefix_list }} index {{ prefix_list_rule.index }} {{ prefix_list_rule.action }} {{ prefix_list_rule.prefix }}
            {% endfor -%}
          {% endfor -%}

          {# Configure the Route-policy object -#}
          route-policy {{ import_police }} {{ rule.action }} node {{ rule.index }}
          {% if rule.match_ip_address.all() != [] %}
            {% for rule_prefix in rule_prefixes %}
              if-match ip-prefix {{ rule_prefix }}
              #
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endfor %}
  {% endif %}
{% endfor %}