{% for bgp_session in netbox_bgp.BGPSession.objects.all() %}
    {% if bgp_session.device == device %}
        {% for policy in bgp_session.import_policies.all() %}
            {% for rule in policy.rules.all() %}
                {# Configure all Prefix Lists used by the route-policy -#}
                {% for prefix_list in rule.match_ip_address.all() -%}
                    {% for prefix_list_rule in prefix_list.prefrules.all() -%}
                        {% if False -%}   
ip ip-prefix {{ prefix_list }} index {{ prefix_list_rule.index }} {{ prefix_list_rule.action }} {{ prefix_list_rule.prefix }}
                        {% else -%}
ip ip-prefix {{ prefix_list }} index {{ prefix_list_rule.index }} {{ prefix_list_rule.action }} {{ prefix_list_rule.prefix_custom.value }} {{ prefix_list_rule.prefix_custom.prefixlen }}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
        {% for policy in bgp_session.export_policies.all() -%}
            {% for rule in policy.rules.all() +%}
                {# Configure all Prefix Lists used by the route-policy -#}
                {% for prefix_list in rule.match_ip_address.all() -%}
                    {% for prefix_list_rule in prefix_list.prefrules.all() -%}
                        {% if False -%}   
ip ip-prefix {{ prefix_list }} index {{ prefix_list_rule.index }} {{ prefix_list_rule.action }} {{ prefix_list_rule.prefix }}
                        {% else -%}
ip ip-prefix {{ prefix_list }} index {{ prefix_list_rule.index }} {{ prefix_list_rule.action }} {{ prefix_list_rule.prefix_custom.value }} {{ prefix_list_rule.prefix_custom.prefixlen }}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endfor %}